@CHARSET "UTF-8";

html { height: 100% }
body { height: 100%; margin: 10px; padding: 0;}
.gradient {
	background: #2a6da9;
	background: -moz-linear-gradient(top, #55aaee, #003366);
	background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));
	color: #000000; 
	height: auto; 
	padding: 5px;
}

#map_canvas { height: 100% }

.logo {
	font-family: impact, tahoma, arial;
	font-size: 32px; 
	font-weight: bold; 
	color: #ffffff; 
	font-style: italic; 
	position: absolute; 
	right: 20px;	
}

.version {
 	font-family: calibri, verdana, tahoma, arial; 
 	font-size: 12px; 
 	color: #FFB273; 
 	font-style: normal; 
 	position: absolute; 
 	right: 20px; 
 	top: 50px;	
}

td.tom_label {
	background-color: rgb(51,126,191); 
	padding: 5px;	
	font-family: calibri, verdana, tahoma, arial;
	color: #ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

td.tom_value {
	text-align: right;
	background-color: rgb(26,94,154); 
	padding: 5px;	
	font-family: calibri, verdana, tahoma, arial;
	color: #ffffff;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.tom_text_input {
	font-family: calibri, verdana, tahoma, arial;
	font-size: 16px;
	border: 1px solid rgb(20,20,50);
	height: 22px;		
}

.tom_search_field {
	font-family: calibri, verdana, tahoma, arial;
	font-size: 16px;
	border: 1px solid rgb(20,20,50);
	height: 25px;
	background-image: url(magnifier.png);
	background-repeat: no-repeat;
	padding-left: 30px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.tom_text {
	font-family: calibri, verdana, tahoma, arial;
	color: #ffffff;	
}

.tom_map {
	width:500px; height:500px; border: 1px solid rgb(50,50,100);	
}

.tom_button:hover {
	background: #FFB273;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
	cursor: pointer;
}

.tom_button {
	padding: 3px 8px;
	padding-bottom: 3px;
	padding-top: 4px;
	font-family: calibri, verdana, tahoma, arial;
	font-size: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9640), to(#FFB273));
	background: -moz-linear-gradient(#FF9640, #FFB273);
	background-color: #33CCCC;
	text-shadow: rgba(255, 255, 255, 0.4) 0px 1px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}

.tom_error {
	color: rgb(255,255,255);
	border: 1px solid rgb(150,0,0);
	font-family: calibri, verdana, tahoma, arial;
	width: 250px;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: url(warning.png);
	background-repeat: no-repeat;	
	background-color: rgb(210,0,0);
	font-size: 14px;	
	padding-left: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	overflow: auto;
}

* html .tom_button {
	background-color: rgb(255,152,54);
	background-image: url(button.gif);	
	font-family: calibri, verdana, tahoma, arial;
	font-size: 14px;
}

* html .tom_search_field {
    height: 30px;
    padding-top: 4px;	
}

* html .gradient {
	background-color: rgb(0,52,106);
	background-image: url(gradient.png);
	background-repeat: repeat-x;
		
}

* html .tom_error {
	background-image: url(warning.gif);	
}
