@CHARSET "UTF-8";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}body{line-height:1.5}table{border-collapse:separate;border-spacing:0;margin:0 0 15px 0}caption,th,td{text-align:left;font-weight:normal}table,td,th{vertical-align:middle}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}a img{border:none}* :focus{outline: 0}

* {
	font-size: 16px; 
	font-family: calibri, verdana, tahoma, arial;
}

html { height: 100% }

body { 
	height: 100%; 
	margin: 10px; 
	padding: 0;
	font-size: 14px; 
	font-family: calibri, verdana, tahoma, arial;
}

#userdetails {
	font-family: calibri, verdana, tahoma, arial;
	color: rgb(255,255,255);	
}

.gradient {
	background-color: rgb(0,52,106);
	background-image: url(/tom/image/gradient.png);
	background-repeat: repeat-x;
	color: #000000; 
	height: auto; 
	padding: 5px;
}

* html .gradient {
	background-color: rgb(0,52,106);
	background-image: url(/tom/image/gradient.png);
	background-repeat: repeat-x;
	
}

.logo {
	font-family: impact, tahoma, arial;
	font-size: 32px; 
	font-weight: bold; 
	color: #ffffff; 
	font-style: italic;
	position: relative; 
	text-align: right; 
		
}

.version {
 	font-family: calibri, verdana, tahoma, arial; 
 	font-size: 12px; 
 	color: #FFB273; 
 	font-style: normal;
	position: relative;
	text-align: right; 
 	right: 5px;
 	top: -10px;
}

.button {
	padding: 3px 8px;
	padding-bottom: 3px;
	padding-top: 4px;
	font-family: calibri, verdana, tahoma, arial;
	font-size: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9640), to(#FFB273));
	background: -moz-linear-gradient(#FF9640, #FFB273);
	background-color: rgb(255,152,54);
	text-shadow: rgba(255, 255, 255, 0.4) 0px 1px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}

.button:hover {
	background: #FFB273;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
	cursor: pointer;
}

div {
	display: block;
}

#head { 
	position: relative;
	width: 780px;
	height: 130px;
	clear: both;
	overflow: hidden;
	height: 60px;
}

#content {
	margin: 0 auto;
	overflow: hidden;
	width: 780px;
	padding: 0 0 10px 10px;
}

form input[type="text"], form input[type="email"], form input[type="url"], form input[type="password"], form input[type="number"], form select, form textarea {
	width: 98%;
	float: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 28px;
	margin-bottom: 5px;
	border: 1px solid #CCC;
	padding: 4px 0 1px 5px;
	-webkit-box-shadow: 1px 1px 3px #ccc;
	-moz-box-shadow: 1px 1px 3px #ccc;
	box-shadow: 1px 1px 3px #ccc;
	vertical-align: middle;
}

#topmenu {
	width: 770px;
	float: left;
	padding: 10px 0 1px 10px;
	background: rgba(0, 0, 0, 0.1);
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 6px;
	margin-bottom: 8px;
	-webkit-box-shadow: inset 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #fff;
}

#topmenu li {
	display: list-item;
	text-align: -webkit-match-parent;
	float: left;
	padding-left: 0;
	font-family: helvetica, arial, sans-serif;
}

#topmenu ul {
	margin: 0;
	list-style: none;
	display: block;
	position: relative;
	height: auto;
}

#topmenu li a:hover {
	background: #FF7400;
	color: rgb(255,255,255);
}

#topmenu li.active a, #topmenu li.active a:hover {
	background-color: rgb(26,94,154);
	color: rgb(255,255,255);
}

#topmenu li a {
	margin: 0;
	padding: 0;
	display: block;
	height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(51,126,191); 
	text-align: center;
	color: white;
	padding: 5px 10px 2px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #f0f0f0;
	text-decoration: none;
}

#topmenu a:hover, #topmenu  a:focus, #topmenu  a:active {
	color: #FFB273;
	text-decoration: none;
}

#main {
	padding: 20px;
	clear: both;
	overflow: hidden;
	background-color: #F0F0F0;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(217,217,217)), color-stop(0.5, rgb(240,240,240)) );
	background-image: -moz-linear-gradient( center bottom, rgb(217,217,217) 0%, rgb(240,240,240) 50% );
	background-image: -o-linear-gradient(rgb(240,240,240),rgb(217,217,217));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #fff;
}

form fieldset {
	width: 280px;
}

form fieldset legend {
	font-size: 1.4em;
	padding: 0 5px;
}
form div {
	height: auto;
	margin-bottom: 3px;
	padding: 0px;
}

form div label {
	float: none;
	width: 100%;
	display: block;
	height: 20px;
	font-size: 1.2em;
}

form input[type="text"], form input[type="email"], form input[type="url"], form input[type="password"], form input[type="number"], form select, form textarea {
	width: 98%;
	float: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 28px;
	margin-bottom: 5px;
	border: 1px solid #CCC;
	padding: 4px 0 1px 5px;
	-webkit-box-shadow: 1px 1px 3px #ccc;
	-moz-box-shadow: 1px 1px 3px #ccc;
	box-shadow: 1px 1px 3px #ccc;
	vertical-align: middle;
}


form fieldset input:hover[type="submit"], form fieldset button:hover {
	background: #FFB273;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
	cursor: pointer;
}

form fieldset input[type="submit"], form fieldset button {
	display: inline-block;
	padding: 4px 8px;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 13px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9640), to(#FFB273));
	background: -moz-linear-gradient(#FF9640, #FFB273);
	background-color: rgb(255,152,54);
	text-shadow: rgba(255, 255, 255, 0.4) 0px 1px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}

table.pagingLinks {
	width: 100%;
	font-family: calibri, verdana, tahoma, arial;
	font-size: 14px;
	color: rgb(100,100,100);
	height: 60px;
}

table.pagingLinks td {
	width: 33%;
}

.pagingLinks a, .pagingLinks th {
	color: rgb(100,100,100);
	text-decoration: none;
	padding: 1px 5px 1px 5px;
}

.pagingLinks .pagingLink_active {
	color: #BF7130;
	font-weight: bold;
	border: 1px solid rgb(183,212,231);
	padding: 3px 8px 3px 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: rgb(35,121,181);
	background: -moz-linear-gradient(top, rgb(35,121,181), rgb(120,194,242));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(35,121,181)), to(rgb(120,194,242)));
	color: rgb(255,255,255);
	border-radius: 5px;
}
table.pagingLinks th, table.pagingLinks .pages {
	text-align: center;
}

table.pagingLinks td.backward {
	text-align: left;
}

table.pagingLinks td.forward {
	text-align: right;
}

table.objectList {
	border-collapse: collapse;
	border: none;
	margin: 0px;
	width: 100%;
}
table.objectList td, table.objectList th {
	border: none;
	padding: 5px;
	background-color: rgb(250,250,250);
	font-family: calibri, verdana, tahoma, arial;
	font-size: 14px;
}

table.objectList th {
	background-color: rgb(100,100,100);
	white-space:nowrap;
	background: -moz-linear-gradient(top, rgb(100,100,100), rgb(180,180,180));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(100,100,100)), to(rgb(180,180,180)));
	padding: 5px;	
	font-family: calibri, verdana, tahoma, arial;
	color: #ffffff;
	border: none;
}

* html table.objectList th {
	background: rgb(100,100,100);	
}

table.objectList th a {
	color: rgb(255,255,255);
	text-decoration: none;
}

#messages {
	position: relative;
	font-family: calibri, verdana, tahoma, arial;
	overflow: hidden;
	clear: both; 
}

.message_error {
	color: rgb(255,255,255);
	background-image: url(/tom/image/warning.png);
	background-repeat: no-repeat;	
	background-color: rgb(210,0,0);	
	border: 1px solid rgb(150,0,0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	padding-left: 35px;
	margin-bottom: 10px;
}

.message_warning {
	color: rgb(255,255,255);
	background-image: url(/tom/image/information.png);
	background-repeat: no-repeat;	
	background-color: rgb(210,0,0);	
	border: 1px solid rgb(150,0,0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	padding-left: 35px;
	margin-bottom: 10px;
}

.message_info {
	color: rgb(255,255,255);
	background-image: url(/tom/image/information.png);
	background-repeat: no-repeat;	
	background-color: rgb(0,210,0);	
	border: 1px solid rgb(0,150,0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	padding-left: 35px;
	margin-bottom: 10px;
}

* html .message_error {
	background-image: url(/tom/image/warning.gif);
}

* html .message_warning {
	background-image: url(/tom/image/information.gif);
}

th.action {
	text-align: right;	
}

td.action {
	text-align: right;
}

.tableTop {
	background-color: rgb(100,100,100);
	width: 100%;
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	height: 5px;
}

.tableBottom {
	background-color: rgb(250,250,250);
	width: 100%;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	height: 5px;
}

td.title {
	background-color: rgb(150,150,150); 
	padding: 5px;	
	font-family: calibri, verdana, tahoma, arial;
	color: #ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;		
}

td.value {
	background-color: rgb(250,250,250); 
	padding: 5px;	
	font-family: calibri, verdana, tahoma, arial;
	color: rgb(0,0,0);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;		
}

table.viewObject {
	width: 100%;
	border-spacing: 0px 5px;	
}

div.map {
	width: 100%; 
	height: 500px; 
	border: 1px solid rgb(50,50,100); 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;	
}

.required {
	background-image: url(/tom/image/star.png);
	background-repeat: no-repeat;
	padding-left: 18px;	
	padding-bottom: 5px;	
}

label.title {
	padding-bottom: 5px;	
}

table.objectList td.odd {
	border-bottom: dashed 1px rgb(200,200,200);	
}

table.objectList td.even {
	border-bottom: dashed 1px rgb(200,200,200);	
}

table.objectList td.last {
	border-bottom: none !important;	
}
