@CHARSET "UTF-8";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,capxion,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}body{line-height:1.5}table{border-collapse:separate;border-spacing:0;margin:0 0 15px 0}capxion,th,td{text-align:left;font-weight:normal}table,td,th{vertical-align:middle}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}a img{border:none}* :focus{outline: 0}

html {
	font-family: 'Ropa sans', sans-serif;
	font-size: 16px;
}

body {
	background-image: url(../image/map.jpg);
}

#page {
	margin: 0 auto 0 auto;
	width: 40em;
	
	display: block; 
	background-color: #00346A;
	background-image: url(../image/gradient_low.png);
	background-repeat: repeat-x;
	box-shadow: 0 0 6px 6px #D8D8D8;
}

#top {
	background-color: #006C9A;
	text-align: right;
}

#top img {
	margin: 0.3em 0.4em 0 0;
}

#top .bar {
	background-color: #FF7900;
	font-size: 10px;
	color: #FFFFFF;
	padding: 0 1em 0 0;
	font-family: 'Telex', sans-serif;
}

#menu, #content {
	padding: 0 0.5em 0 0.5em;
}

#introduction {
	display: inline-block;
	float: left;
	width: 70%;
	color: #FFFFFF;
	padding: 0.5em 0 0.2em 0.4em;
}

#introduction h1 {
	font-size: 22px;
	border-bottom: solid 1px #FF7900; 
}

#introduction p {
	font-family: 'Telex', sans-serif;
	color: #e0e0e0;
	padding-left: 1em;
	text-align: justify;
}

#introduction p em {
	color: #FFB980;
}

#menu {
	color: #FFFFFF;
	margin: 0.4em 0.5em 1em 1em;
	display: inline-block;
	float: right;
	text-align: left;
	background: rgba(255,255,255,0.2);
	width: 20%;
	border-radius: 10px;
	padding: 3px 8px;
}

#menu h2 {
	font-size: 22px;
	color: #FFFFFF;
	font-weight: 140;
	width: 100%;
	border-bottom: solid 1px #FF7900; 
}

#menu ul {
	margin: 0 auto 0 auto;
	list-style-type: none;
	
}

#menu li  {
	display: block;
}

#menu li a {
	color: #FFB980;
	text-decoration: none;
	font-weight: 100;
}

#content {
	clear: both;
	color: #FFF;
	display: block; 
}

#content div {
	border-radius: 10px;
	clear: both;
	width: 38.3em;
	display: inline-block; 
	background: rgba(255,255,255,0.2);
	margin: 1em 0 1em 0;
	padding: 0.4em 0.4em 1em 0.4em;
	overflow: hide;
}

#content div h1 {
	font-size: 22px;
	border-bottom: solid 1px #FF7900;
} 

#content div img {
	margin: 1em 0.4em 0.2em 1em;
	display: inline; 
	float: right;
}

#content div p {
	font-family: 'Telex', sans-serif;
	color: #e0e0e0;
	padding: 1em 0.4em 0.2em 0.4em;
	margin: 0;
	display: block;
	text-align: justify;
}

#bottom {
	color: #fff;
	background-color: #006C9A;
	text-align: left;
	font-family: 'Telex', sans-serif;
}

#contact {
	text-align: right;
	font-size: 10px;
	padding: 0.4em 0.4em 0.2em 0.4em;
}

#contact a {
	text-decoration: none;
	color: #fff;
}
#bottom .bar {
	background-color: #FF7900;
	color: #FFFFFF;
	padding: 0 0 0 1em;
	font-size: 10px;
}